.Container {
  text-align: center;

  background-color: #282c34;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;

  width: 500px;
  min-height: 500px;

  padding: 10px;

}



input{
  background-color:#1d2f52;
  border: none;
  outline:none;
  border-radius: 30px;

  font-size:30px;
  padding:5px;
}

#imgLogo{
  height:200px;
  width:200px;

  margin: 70px 0;
}

button{
  background-color: transparent;
  border: none;

}

button:hover{
  cursor: pointer;
}

button img{
  height:30px;
  width:30px;
}