*{
  margin: 0;
  padding:0;
  color:white;

}

body {
  font-family: "Roboto", Arial;
  background-color: #22304d;
  display:flex;
  align-items:center;
  justify-content:center;

  min-height: 100vh;

}

@media screen and (max-width:513px) {
  body{
  background-color: #282c34;
  }
}




