*{
  margin: 0;
  padding:0;
  color:white;

}

body {
  font-family: "Roboto", Arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #22304d;
  display:flex;
  align-items:center;
  justify-content:center;

  min-height: 100vh;

}



/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
